button {
  width: 107px;
  font-size: 15px;
  background-color: #888;
  border: none;
  height: 50px;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: background-color .2s ease-in-out;
}

button:hover {
  background-color: #0068fa;
}

.button-active {
  background-color: #0068fa;
  transition: background-color .2s ease-in-out;
}

.align-right {
  text-align: right;
}

td {
  padding: 4px 8px;
  margin: 0 -1px;
}

.table-row-data:hover {
  background-color: #eee;
}
